*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*/**/build/
*/**/wheelhouse/
/python/calibre/build/
wheelhouse/
__pycache__/
*.so
*.egg-info//captures
.externalNativeBuild
.cxx
local.properties
*.whl
/app/*.so
